{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "prettier/prettier": ["error"],
    "import": 0,
    "import/prefer-default-export": 0,
    "import/extensions": 0,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "no-console": 0,
    "no-debugger": 0,
    "max-len": 0,
    "prefer-const": [
      "error",
      {
        "destructuring": "all"
      }
    ],
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "no-unused-vars": [
      1,
      {
        "ignoreSiblings": true
      }
    ],
    "no-unused-expressions": [
      2,
      {
        "allowTaggedTemplates": true
      }
    ],
    "func-names": 0,
    "space-before-function-paren": 0,
    "arrow-body-style": [2, "as-needed"],
    "consistent-return": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-one-expression-per-line": 0
  }
}
