@import '../../styles/sizes';
@import '../../styles/colors';
@import '../../styles/background';

.layout {
  background: $background;
}

@include screen-m {
  .layout {
    display: grid;
    grid-template-columns: repeat(12, calc(100vw / 12));
    grid-auto-rows: fit-content(calc((100vh - #{$headerSize}) / 24));
    grid-gap: calc((100vh - #{$headerSize}) / 24) 0;
    min-height: calc((100vh - #{$headerSize}));
  }
}
