// Grid - 12x46
@import '../../styles/colors';
@import '../../styles/sizes';

.examples {
  border-style: solid;
  border-width: 10px 0;
  border-top-color: black;
  border-bottom-color: $primaryColor;
  background-color: white;
  display: flex;
  justify-content: space-between;

  .text {
    margin-left: calc(100vw / 12);
    max-width: 600px;
    min-height: 280px;

    h1 {
      margin-bottom: 0.3em;
    }

    p {
      margin-bottom: 0.5em;
    }

    .icon {
      width: 0.5em;
      height: 0.5em;
      margin-right: 0.3em;
      color: red;
    }
  }

  .img {
    border-left: 1px solid $utilityGray;
    background-color: $utilityGray;
    overflow: hidden;
  }
}

.example1,
.example2,
.example3,
.example4 {
  grid-column: 1 / 12;
}

.example1 {
  grid-row: 2 / 3;
}

.example2 {
  grid-row: 3 / 4;
}

.example3 {
  grid-row: 4 / 5;
}

.example4 {
  grid-row: 5 / 6;
}

.emptyRow {
  grid-column: 1 / 13;
  grid-row: 6 / 7;
}

@include screen-xl {
  .examples {
    .text {
      margin-left: calc(2 * (100vw / 12));
      min-height: 420px;

      h1 {
        margin-bottom: 0.7em;
      }

      p {
        font-size: 24px;
        margin-bottom: 1em;
      }

      .icon {
        width: 1em;
        height: 1em;
      }
    }
  }

  .example1,
  .example2,
  .example3,
  .example4 {
    grid-column: 1 / 11;
  }
}
