@import '../../styles/colors';
@import '../../styles/sizes';

.img {
  grid-column: 2 / 6;
  grid-row: 2 / 4;
  animation: on-bench 2s linear;

  @keyframes on-bench {
    from {
      transform: translateX(-1000px);
    }
    to {
      transform: translateX(0%);
    }
  }
}

.intro {
  grid-column: 7 / 13;
  grid-row: 2 / 3;
  background-color: white;
  border-style: solid;
  border-width: 10px 0;
  border-top-color: black;
  border-bottom-color: $primaryColor;
  animation: intro 2s linear;

  h1 {
    font-size: 32px;
  }

  p {
    font-size: 24px;
    font-weight: 100;
  }

  @keyframes intro {
    from {
      transform: translateX(800px);
    }
    to {
      transform: translateX(0);
    }
  }
}

.skills {
  grid-column: 8 / 13;
  grid-row: 3 / 4;
  background-color: white;
  border-style: solid;
  border-width: 10px 0;
  border-top-color: black;
  border-bottom-color: $primaryColor;
  animation: skills 2.5s linear;

  h2 {
    font-size: 32px;
  }

  ul {
    margin-left: -40px;
    font-size: 24px;
    font-weight: 100;
  }

  @keyframes skills {
    from {
      transform: translateX(800px);
    }
    to {
      transform: translateX(0);
    }
  }
}

.emptyRow {
  grid-column: 1 / 13;
  grid-row: 4 / 5;
}

@include screen-xl {
  .img {
    grid-row: 2 / 7;
  }

  .skills {
    grid-row: 6 / 7;
  }

  .emptyRow {
    grid-row: 7 / 8;
  }

  .intro,
  .skills {
    h1,
    h2 {
      font-size: 42px;
    }

    p,
    ul {
      font-size: 32px;
      font-weight: 100;
    }
  }
}
