@import '../../styles/_colors.scss';

.header {
  display: grid;
  grid-gap: 0;
  grid-auto-columns: calc(100vw / 12);
  background-color: $primaryColor;
}

.logo {
  height: 60px;
  margin: 10px 0;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.nav {
  font-size: 24px;
  font-weight: bold;
  grid-column: 8 / 13;
  grid-row: 1 / 2;

  ul {
    padding-inline-start: 0;
  }

  li {
    border-style: solid;
    border-width: 0 0 0 3px;
    padding: 0 0 0 3px;
    margin-right: 20px;
    color: black;
    display: inline;
    list-style-type: none;
  }

  a {
    color: black;
    text-decoration: none;
  }

  .active {
    border-left-color: white;
  }
}

@media screen and (min-width: 1300px) {
  .logo {
    height: 80px;
  }

  .header {
    .nav {
      font-size: 32px;

      li {
        border-width: 0 0 0 4px;
      }
    }
  }
}
