@import '../../styles/_colors.scss';
@import '../../styles/_sizes.scss';

.active {
  border-left-color: white;
}

.header {
  height: $headerSize;
  display: grid;
  grid-template-columns: repeat(12, calc(100vw / 12));
  grid-gap: 0;
  background-color: $primaryColor;

  .logo {
    height: 60px;
    margin: 10px 0;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .nav {
    font-size: 26px;
    // Vertically center
    line-height: 24px;
    font-weight: bold;
    grid-column: 8 / 13;
    grid-row: 1 / 2;

    ul {
      padding-inline-start: 0;
    }

    li {
      margin-right: 20px;
      color: black;
      display: inline;
      list-style-type: none;
    }

    a {
      border-style: solid;
      border-width: 0 0 0 3px;
      padding: 0 0 0 3px;
      color: black;
      text-decoration: none;
    }
  }
}

@include screen-xl {
  .header {
    height: 100px;

    .logo {
      height: $headerSize;
    }

    .nav {
      font-size: 34px;
      // Vertically center
      line-height: 32px;

      a {
        border-width: 0 0 0 4px;
      }
    }
  }
}
