@import '../../styles/sizes';

.footer {
  padding: 1em;
  color: white;
  background-color: black;
}

@include screen-m {
  .footer {
    position: absolute;
    padding: 0;
    background-color: transparent;
    bottom: 20px;
    white-space: nowrap;
    // Depreciated style fallback for older browsers
    writing-mode: tb-rl;
    writing-mode: vertical-rl;
  }

  .positionLeft {
    left: 20px;
    color: white;
  }

  .positionRight {
    right: 20px;
    color: black;
  }
}


@include screen-xl {
  .footer {
    font-size: 20px;
  }
}
